### Rename index levels
* Invoke the **set_names** method on the **MultiIndex** to change one or more level names.
* Use the **names** and **level** parameter to target a nested index at a given level.
* Alternatively, pass **names** a list of strings to overwrite all level names.
* The **set_names** method returns a copy, so replace the original index to alter the **DataFrame**.

In [2]:
import pandas as pd

In [3]:
dataframe = pd.read_csv("../Crime Prediction in Chicago_Dataset.csv", index_col=["District", "Primary Type"]).sort_index()

In [4]:
dataframe.head()

                             ID Case Number              Date  \
District Primary Type
1        ARSON         12744064    JF296803    6/28/2022 2:20
         ARSON         12631318    JF160624  03-02-2022 08:40
         ARSON         12782929    JF343543  08-04-2022 03:51
         ASSAULT       12929458    JF518533  12/21/2022 10:15
         ASSAULT       12905051    JF489349  11/27/2022 11:46

                                          Block  IUCR Description  \
District Primary Type
1        ARSON               001XX S CLINTON ST  1020     BY FIRE
         ARSON                006XX S HOLDEN CT  1020     BY FIRE
         ARSON                 010XX S WELLS ST  1020     BY FIRE
         ASSAULT       014XX S MUSEUM CAMPUS DR   560      SIMPLE
         ASSAULT          0000X E CONGRESS PKWY   560      SIMPLE

                               Location Description  Arrest  Domestic  Beat  \
District Primary Type
1        ARSON         COMMERCIAL / BUSINESS OFFICE   False     False   121
         ARSON                                ALLEY   False     False   123
         ARSON                               STREET   False     False   123
         ASSAULT       COMMERCIAL / BUSINESS OFFICE   False     False   132
         ASSAULT                      HOTEL / MOTEL   False     False   113

                       Ward  Community Area FBI Code  X Coordinate  \
District Primary Type
1        ARSON         34.0              28        9     1172750.0
         ARSON          4.0              32        9     1176686.0
         ARSON         25.0              32        9     1174866.0
         ASSAULT        4.0              33      08A     1179970.0
         ASSAULT        4.0              32      08A     1176730.0

                       Y Coordinate  Year        Updated On   Latitude  \
District Primary Type
1        ARSON            1899684.0  2022  01-09-2024 15:40  41.880170
         ARSON            1897355.0  2022  01-03-2023 15:40  41.873691
         ARSON            1895796.0  2022  01-03-2023 15:40  41.869454
         ASSAULT          1893558.0  2022  11/16/2023 15:40  41.863197
         ASSAULT          1898080.0  2022  11/16/2023 15:40  41.875679

                       Longitude                       Location
District Primary Type
1        ARSON        -87.641140  (41.880169806, -87.641140205)
         ARSON        -87.626758  (41.873690873, -87.626758223)
         ARSON        -87.633487  (41.869453794, -87.633486976)
         ASSAULT      -87.614818  (41.863196881, -87.614817819)
         ASSAULT      -87.626575   (41.875679322, -87.62657476)

In [6]:
dataframe.index.set_names(names="Location", level=0)

MultiIndex([( 1,              'ARSON'),
            ( 1,              'ARSON'),
            ( 1,              'ARSON'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ...
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (31,            'BATTERY'),
            (31,  'CRIMINAL TRESPASS'),
            (31, 'DECEPTIVE PRACTICE'),
            (31,              'THEFT')],
           names=['Location', 'Primary Type'], length=45423)

In [7]:
dataframe.index.set_names(names="Type", level=1)

MultiIndex([( 1,              'ARSON'),
            ( 1,              'ARSON'),
            ( 1,              'ARSON'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ...
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (31,            'BATTERY'),
            (31,  'CRIMINAL TRESPASS'),
            (31, 'DECEPTIVE PRACTICE'),
            (31,              'THEFT')],
           names=['District', 'Type'], length=45423)

In [9]:
dataframe.index.set_names(names=["Location", "Type"])

MultiIndex([( 1,              'ARSON'),
            ( 1,              'ARSON'),
            ( 1,              'ARSON'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ...
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (31,            'BATTERY'),
            (31,  'CRIMINAL TRESPASS'),
            (31, 'DECEPTIVE PRACTICE'),
            (31,              'THEFT')],
           names=['Location', 'Type'], length=45423)

In [10]:
dataframe.index = dataframe.index.set_names(names=["Location", "Type"])

In [11]:
dataframe.index

MultiIndex([( 1,              'ARSON'),
            ( 1,              'ARSON'),
            ( 1,              'ARSON'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ( 1,            'ASSAULT'),
            ...
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (25,  'WEAPONS VIOLATION'),
            (31,            'BATTERY'),
            (31,  'CRIMINAL TRESPASS'),
            (31, 'DECEPTIVE PRACTICE'),
            (31,              'THEFT')],
           names=['Location', 'Type'], length=45423)

In [12]:
dataframe.head()

                        ID Case Number              Date  \
Location Type
1        ARSON    12744064    JF296803    6/28/2022 2:20
         ARSON    12631318    JF160624  03-02-2022 08:40
         ARSON    12782929    JF343543  08-04-2022 03:51
         ASSAULT  12929458    JF518533  12/21/2022 10:15
         ASSAULT  12905051    JF489349  11/27/2022 11:46

                                     Block  IUCR Description  \
Location Type
1        ARSON          001XX S CLINTON ST  1020     BY FIRE
         ARSON           006XX S HOLDEN CT  1020     BY FIRE
         ARSON            010XX S WELLS ST  1020     BY FIRE
         ASSAULT  014XX S MUSEUM CAMPUS DR   560      SIMPLE
         ASSAULT     0000X E CONGRESS PKWY   560      SIMPLE

                          Location Description  Arrest  Domestic  Beat  Ward  \
Location Type
1        ARSON    COMMERCIAL / BUSINESS OFFICE   False     False   121  34.0
         ARSON                           ALLEY   False     False   123   4.0
         ARSON                          STREET   False     False   123  25.0
         ASSAULT  COMMERCIAL / BUSINESS OFFICE   False     False   132   4.0
         ASSAULT                 HOTEL / MOTEL   False     False   113   4.0

                  Community Area FBI Code  X Coordinate  Y Coordinate  Year  \
Location Type
1        ARSON                28        9     1172750.0     1899684.0  2022
         ARSON                32        9     1176686.0     1897355.0  2022
         ARSON                32        9     1174866.0     1895796.0  2022
         ASSAULT              33      08A     1179970.0     1893558.0  2022
         ASSAULT              32      08A     1176730.0     1898080.0  2022

                        Updated On   Latitude  Longitude  \
Location Type
1        ARSON    01-09-2024 15:40  41.880170 -87.641140
         ARSON    01-03-2023 15:40  41.873691 -87.626758
         ARSON    01-03-2023 15:40  41.869454 -87.633487
         ASSAULT  11/16/2023 15:40  41.863197 -87.614818
         ASSAULT  11/16/2023 15:40  41.875679 -87.626575

                                       Location
Location Type
1        ARSON    (41.880169806, -87.641140205)
         ARSON    (41.873690873, -87.626758223)
         ARSON    (41.869453794, -87.633486976)
         ASSAULT  (41.863196881, -87.614817819)
         ASSAULT   (41.875679322, -87.62657476)