### Second arguments to loc and iloc accessors
* The second value inside the square brackets targets the columns.
* The **iloc** requires numeric positions for rows and columns.
* The **loc** requires labels for rows and columns.

In [2]:
import pandas as pd

In [3]:
dataframe = pd.read_csv("../Crime Prediction in Chicago_Dataset.csv", index_col='ID')

In [4]:
dataframe.loc[12592454, 'Case Number']

'JF113025'

In [6]:
dataframe.loc[[12785595, 12808281], 'Case Number']

ID
12785595    JF346553
12808281    JF373517
Name: Case Number, dtype: object

In [8]:
dataframe.loc[[12785595, 12808281], "Case Number": "Block"]

         Case Number              Date                   Block
ID
12785595    JF346553  08-05-2022 21:00  072XX S UNIVERSITY AVE
12808281    JF373517   8/14/2022 14:00     055XX W ARDMORE AVE

In [10]:
dataframe.loc[12592454: 12888104, "Case Number": "Block"]

         Case Number              Date                   Block
ID
12592454    JF113025   1/14/2022 15:55       067XX S MORGAN ST
12785595    JF346553  08-05-2022 21:00  072XX S UNIVERSITY AVE
12808281    JF373517   8/14/2022 14:00     055XX W ARDMORE AVE
12888104    JF469015  11-10-2022 03:47          072XX S MAY ST

In [13]:
dataframe.loc[12592454: 12888104, ["Case Number", "Block", "Description"]]

         Case Number                   Block                       Description
ID
12592454    JF113025       067XX S MORGAN ST    HARASSMENT BY ELECTRONIC MEANS
12785595    JF346553  072XX S UNIVERSITY AVE    SEXUAL EXPLOITATION OF A CHILD
12808281    JF373517     055XX W ARDMORE AVE  AGGRAVATED CRIMINAL SEXUAL ABUSE
12888104    JF469015          072XX S MAY ST        RECKLESS FIREARM DISCHARGE

In [14]:
dataframe.iloc[3, 5]

'RECKLESS FIREARM DISCHARGE'

In [15]:
dataframe.iloc[2]

Case Number                                     JF373517
Date                                     8/14/2022 14:00
Block                                055XX W ARDMORE AVE
IUCR                                                1562
Primary Type                                 SEX OFFENSE
Description             AGGRAVATED CRIMINAL SEXUAL ABUSE
Location Description                           RESIDENCE
Arrest                                             False
Domestic                                           False
Beat                                                1621
District                                              16
Ward                                                39.0
Community Area                                        11
FBI Code                                              17
X Coordinate                                   1138383.0
Y Coordinate                                   1937953.0
Year                                                2022
Updated On                               9/14/2023 15:41
Latitude                                       41.985875
Longitude                                     -87.766404
Location                   (41.985875279, -87.766403857)
Name: 12808281, dtype: object

In [16]:
dataframe.iloc[2, 3]

'1562'

In [18]:
dataframe.iloc[[0, 2], [3, 5]]

          IUCR                       Description
ID
12592454  2826    HARASSMENT BY ELECTRONIC MEANS
12808281  1562  AGGRAVATED CRIMINAL SEXUAL ABUSE

In [19]:
dataframe.iloc[:5, :2]

         Case Number              Date
ID
12592454    JF113025   1/14/2022 15:55
12785595    JF346553  08-05-2022 21:00
12808281    JF373517   8/14/2022 14:00
12888104    JF469015  11-10-2022 03:47
13209277    JG422539    8/15/2022 9:00