### Delete rows or columns from a dataframe
* The **drop** method deletes one or more rows/columns from a **DataFrame**.
* Pass the **index** or **columns** parameters a list of the column names to remove.
* The **pop** method removes and returns a single **Series** (It mutates the **DataFrame** in the process).
* Python **del** keyword also removes a single **Series**.

In [2]:
import pandas as pd

In [3]:
dataframe = pd.read_csv("../Crime Prediction in Chicago_Dataset.csv", index_col="ID").sort_index()

In [4]:
dataframe.head()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
26595,JF130370,02-01-2022 07:15,009XX E 79TH ST,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,624,...,8.0,69,01A,1184039.0,1852826.0,2022,01-01-2024 15:40,41.751331,-87.601155,"(41.751330763, -87.601154923)"
26596,JF130370,02-01-2022 06:54,009XX E 79TH ST,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,624,...,8.0,69,01A,1184039.0,1852826.0,2022,01-01-2024 15:40,41.751331,-87.601155,"(41.751330763, -87.601154923)"
26630,JF154557,2/24/2022 12:05,097XX S HALSTED ST,110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,2223,...,21.0,73,01A,1172697.0,1840207.0,2022,03-02-2024 15:40,41.716960,-87.643088,"(41.716959853, -87.643088472)"
26667,JF183032,3/22/2022 22:29,019XX E 73RD PL,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,333,...,7.0,43,01A,1190632.0,1856624.0,2022,11-11-2023 15:40,41.761596,-87.576873,"(41.761596299, -87.576872789)"
26682,JF193651,04-01-2022 13:49,008XX N LECLAIRE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,1531,...,37.0,25,01A,1142204.0,1905065.0,2022,02-06-2024 15:41,41.895557,-87.753169,"(41.895557198, -87.753168867)"

In [6]:
df = dataframe.drop(columns=["Primary Type", "Description"])

In [7]:
df.head()

,Case Number,Date,Block,IUCR,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,
26595,JF130370,02-01-2022 07:15,009XX E 79TH ST,110,STREET,True,False,624,6,8.0,69,01A,1184039.0,1852826.0,2022,01-01-2024 15:40,41.751331,-87.601155,"(41.751330763, -87.601154923)"
26596,JF130370,02-01-2022 06:54,009XX E 79TH ST,110,STREET,True,False,624,6,8.0,69,01A,1184039.0,1852826.0,2022,01-01-2024 15:40,41.751331,-87.601155,"(41.751330763, -87.601154923)"
26630,JF154557,2/24/2022 12:05,097XX S HALSTED ST,110,PARKING LOT,True,False,2223,22,21.0,73,01A,1172697.0,1840207.0,2022,03-02-2024 15:40,41.716960,-87.643088,"(41.716959853, -87.643088472)"
26667,JF183032,3/22/2022 22:29,019XX E 73RD PL,110,STREET,True,False,333,3,7.0,43,01A,1190632.0,1856624.0,2022,11-11-2023 15:40,41.761596,-87.576873,"(41.761596299, -87.576872789)"
26682,JF193651,04-01-2022 13:49,008XX N LECLAIRE AVE,110,STREET,True,False,1531,15,37.0,25,01A,1142204.0,1905065.0,2022,02-06-2024 15:41,41.895557,-87.753169,"(41.895557198, -87.753168867)"

In [8]:
df = dataframe.drop(index=[26596, 26630])

In [9]:
df.head()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
26595,JF130370,02-01-2022 07:15,009XX E 79TH ST,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,624,...,8.0,69,01A,1184039.0,1852826.0,2022,01-01-2024 15:40,41.751331,-87.601155,"(41.751330763, -87.601154923)"
26667,JF183032,3/22/2022 22:29,019XX E 73RD PL,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,333,...,7.0,43,01A,1190632.0,1856624.0,2022,11-11-2023 15:40,41.761596,-87.576873,"(41.761596299, -87.576872789)"
26682,JF193651,04-01-2022 13:49,008XX N LECLAIRE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,1531,...,37.0,25,01A,1142204.0,1905065.0,2022,02-06-2024 15:41,41.895557,-87.753169,"(41.895557198, -87.753168867)"
26687,JF198311,04-05-2022 15:45,113XX S GREEN ST,110,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,False,2234,...,21.0,75,01A,1172680.0,1829692.0,2022,9/14/2024 15:40,41.688105,-87.643459,"(41.688105474, -87.643459236)"
26688,JF198311,04-05-2022 15:45,113XX S GREEN ST,110,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,False,2234,...,21.0,75,01A,1172680.0,1829692.0,2022,9/14/2024 15:40,41.688105,-87.643459,"(41.688105474, -87.643459236)"

In [10]:
df = dataframe.drop(index=[26596, 26630], columns=["Primary Type", "Description"])

In [12]:
df.head()

,Case Number,Date,Block,IUCR,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,
26595,JF130370,02-01-2022 07:15,009XX E 79TH ST,110,STREET,True,False,624,6,8.0,69,01A,1184039.0,1852826.0,2022,01-01-2024 15:40,41.751331,-87.601155,"(41.751330763, -87.601154923)"
26667,JF183032,3/22/2022 22:29,019XX E 73RD PL,110,STREET,True,False,333,3,7.0,43,01A,1190632.0,1856624.0,2022,11-11-2023 15:40,41.761596,-87.576873,"(41.761596299, -87.576872789)"
26682,JF193651,04-01-2022 13:49,008XX N LECLAIRE AVE,110,STREET,True,False,1531,15,37.0,25,01A,1142204.0,1905065.0,2022,02-06-2024 15:41,41.895557,-87.753169,"(41.895557198, -87.753168867)"
26687,JF198311,04-05-2022 15:45,113XX S GREEN ST,110,HOUSE,True,False,2234,22,21.0,75,01A,1172680.0,1829692.0,2022,9/14/2024 15:40,41.688105,-87.643459,"(41.688105474, -87.643459236)"
26688,JF198311,04-05-2022 15:45,113XX S GREEN ST,110,HOUSE,True,False,2234,22,21.0,75,01A,1172680.0,1829692.0,2022,9/14/2024 15:40,41.688105,-87.643459,"(41.688105474, -87.643459236)"

In [13]:
dataframe.pop("Block")

ID
26595            009XX E 79TH ST
26596            009XX E 79TH ST
26630         097XX S HALSTED ST
26667            019XX E 73RD PL
26682       008XX N LECLAIRE AVE
                    ...
13627481        0000X E 101ST ST
13627576     035XX W DICKENS AVE
13627896      008XX S KEDZIE AVE
13629868         068XX S WOOD ST
13630511        010XX E 100TH PL
Name: Block, Length: 45423, dtype: object

In [14]:
dataframe.columns.values

array(['Case Number', 'Date', 'IUCR', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'], dtype=object)

In [16]:
del dataframe["Primary Type"]

In [17]:
dataframe.columns.values

array(['Case Number', 'Date', 'IUCR', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'], dtype=object)