### Overwrite value in a dataframe
* Use the **iloc** or **loc** accessor on the dataframe to target a value, then provide the equal sign and a new value.

In [45]:
import pandas as pd

In [46]:
dataframe = pd.read_csv("../Crime Prediction in Chicago_Dataset.csv", index_col="ID")

In [47]:
# Don't overwrite the value in dataframe like this, this will give you a warning. However it will overwrite dataframe data

dataframe["Case Number"].loc[12592454] = "JF346523"

C:\Users\dell\AppData\Local\Temp\ipykernel_7460\26511401.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe["Case Number"].loc[12592454] = "JF346523"

In [48]:
dataframe.loc[dataframe["Case Number"] == "JF346523"]

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
12592454,JF346523,1/14/2022 15:55,067XX S MORGAN ST,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,True,724,...,16.0,68,26,1170805.0,1860170.0,2022,9/14/2023 15:41,41.771782,-87.649437,"(41.771782439, -87.649436929)"

In [50]:
# The right way of overwriting the dataframe data
dataframe.loc[12592454, "Case Number"] = "JF346527"

In [51]:
dataframe.loc[dataframe["Case Number"] == "JF346527"]

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
12592454,JF346527,1/14/2022 15:55,067XX S MORGAN ST,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,True,724,...,16.0,68,26,1170805.0,1860170.0,2022,9/14/2023 15:41,41.771782,-87.649437,"(41.771782439, -87.649436929)"