### Create random sample with the sample method
* The **sample** method returns a specified one or more random rows from the **DataFrame**.
* Customize the **axis** parameter to extract random columns.

In [2]:
import pandas as pd

In [3]:
dataframe = pd.read_csv("../Crime Prediction in Chicago_Dataset.csv", index_col="ID").sort_index()

In [4]:
dataframe.head()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
26595,JF130370,02-01-2022 07:15,009XX E 79TH ST,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,624,...,8.0,69,01A,1184039.0,1852826.0,2022,01-01-2024 15:40,41.751331,-87.601155,"(41.751330763, -87.601154923)"
26596,JF130370,02-01-2022 06:54,009XX E 79TH ST,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,624,...,8.0,69,01A,1184039.0,1852826.0,2022,01-01-2024 15:40,41.751331,-87.601155,"(41.751330763, -87.601154923)"
26630,JF154557,2/24/2022 12:05,097XX S HALSTED ST,110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,2223,...,21.0,73,01A,1172697.0,1840207.0,2022,03-02-2024 15:40,41.716960,-87.643088,"(41.716959853, -87.643088472)"
26667,JF183032,3/22/2022 22:29,019XX E 73RD PL,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,333,...,7.0,43,01A,1190632.0,1856624.0,2022,11-11-2023 15:40,41.761596,-87.576873,"(41.761596299, -87.576872789)"
26682,JF193651,04-01-2022 13:49,008XX N LECLAIRE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,1531,...,37.0,25,01A,1142204.0,1905065.0,2022,02-06-2024 15:41,41.895557,-87.753169,"(41.895557198, -87.753168867)"

In [5]:
dataframe.sample()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
12624952,JF153048,2/22/2022 19:30,004XX N UNION AVE,810,THEFT,OVER $500,STREET,False,False,1214,...,27.0,24,6,1171446.0,1903458.0,2022,01-03-2023 15:40,41.890555,-87.645817,"(41.890554669, -87.645817282)"

In [6]:
dataframe.sample(n=5)

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
12723389,JF264699,06-02-2022 10:00,037XX W CERMAK RD,1710,OFFENSE INVOLVING CHILDREN,ENDANGERING LIFE / HEALTH OF CHILD,RESIDENCE,False,False,1014,...,24.0,29,20,1151930.0,1889125.0,2022,01-03-2023 15:40,41.851630,-87.717867,"(41.851630053, -87.717867022)"
12585960,JF102725,01-04-2022 01:22,011XX S STATE ST,850,THEFT,ATTEMPT THEFT,CTA TRAIN,False,False,123,...,4.0,32,6,1176517.0,1895340.0,2022,01-03-2023 15:40,41.868165,-87.627440,"(41.868165405, -87.62743954)"
12660059,JF194941,04-02-2022 16:11,017XX W 78TH ST,041A,BATTERY,AGGRAVATED - HANDGUN,STREET,True,True,611,...,17.0,71,04B,1166225.0,1852974.0,2022,4/23/2024 15:40,41.752134,-87.666430,"(41.752134349, -87.666430254)"
12629901,JF158944,2/20/2022 0:00,014XX W 71ST PL,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,734,...,17.0,67,11,1167668.0,1857324.0,2022,01-03-2023 15:40,41.764041,-87.661018,"(41.764040521, -87.661017709)"
12594227,JF114998,1/16/2022 18:59,026XX W 60TH ST,051A,ASSAULT,AGGRAVATED - HANDGUN,STREET,False,False,824,...,16.0,66,04A,1159921.0,1864776.0,2022,01-03-2023 15:40,41.784653,-87.689208,"(41.784652524, -87.689207868)"

In [8]:
dataframe.sample(n=3, axis='rows')

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
12594298,JF115120,1/16/2022 21:23,026XX N KILDARE AVE,454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",STREET,True,False,2524,...,31.0,20,08B,1147265.0,1917356.0,2022,01-03-2023 15:40,41.929190,-87.734266,"(41.929189519, -87.734265496)"
12583333,JF101763,01-03-2022 04:00,047XX N LEAVITT ST,820,THEFT,$500 AND UNDER,STREET,False,False,1911,...,47.0,4,6,1160837.0,1931370.0,2022,01-03-2023 15:40,41.967374,-87.684002,"(41.967373688, -87.684002252)"
12603236,JF126122,1/27/2022 17:45,066XX S COTTAGE GROVE AVE,560,ASSAULT,SIMPLE,STREET,False,True,321,...,20.0,42,08A,1182701.0,1861260.0,2022,01-03-2023 15:40,41.774506,-87.605797,"(41.774505646, -87.605796586)"

In [9]:
dataframe.sample(n=3, axis='columns')

,Description,Community Area,Updated On
ID,,,
26595,FIRST DEGREE MURDER,69,01-01-2024 15:40
26596,FIRST DEGREE MURDER,69,01-01-2024 15:40
26630,FIRST DEGREE MURDER,73,03-02-2024 15:40
26667,FIRST DEGREE MURDER,43,11-11-2023 15:40
26682,FIRST DEGREE MURDER,25,02-06-2024 15:41
...,...,...,...
13627481,FINANCIAL IDENTITY THEFT OVER $ 300,49,10-12-2024 15:40
13627576,FINANCIAL IDENTITY THEFT OVER $ 300,22,10-12-2024 15:40
13627896,FINANCIAL IDENTITY THEFT $300 AND UNDER,27,10-12-2024 15:40
13629868,NON-AGGRAVATED,67,10/14/2024 15:41
13630511,FINANCIAL IDENTITY THEFT $300 AND UNDER,50,10/15/2024 15:41