In [2]:
import pandas as pd

In [3]:
dataframe = pd.read_csv("Crime Prediction in Chicago_Dataset.csv")

In [5]:
dataframe.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

### Select one column from a dataframe
* We can use attribute syntax (df.column_name) to select a column from a DataFrame. The syntax will not work if the column name has spaces.
* We can also use square bracket syntax (df['column_name']) which will work for any column name.
* Pandas extracts a column from a DataFrame as a Series
* The Series is a view, so changes to the Series will affect the DataFrame.
* Pandas will display a warning if you mutate the Series. Use the copy method to create a duplicate.

In [6]:
dataframe.Ward

0         16.0
1          5.0
2         39.0
3         17.0
4          4.0
          ...
239553    48.0
239554    25.0
239555     9.0
239556    22.0
239557     9.0
Name: Ward, Length: 239558, dtype: float64

In [7]:
type(dataframe.Ward)

pandas.core.series.Series

In [8]:
dataframe['Ward']

0         16.0
1          5.0
2         39.0
3         17.0
4          4.0
          ...
239553    48.0
239554    25.0
239555     9.0
239556    22.0
239557     9.0
Name: Ward, Length: 239558, dtype: float64

In [9]:
type(dataframe['Ward'])

pandas.core.series.Series

In [10]:
ward = dataframe['Ward']

In [11]:
ward.iloc[0] = 2.0

C:\Users\dell\AppData\Local\Temp\ipykernel_25412\430272548.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ward.iloc[0] = 2.0

In [14]:
ward.head()

0     2.0
1     5.0
2    39.0
3    17.0
4     4.0
Name: Ward, dtype: float64

In [17]:
dataframe['Ward'].head()

0     2.0
1     5.0
2    39.0
3    17.0
4     4.0
Name: Ward, dtype: float64

In [20]:
block = dataframe['Block'].copy()

In [22]:
block.head()

0         067XX S MORGAN ST
1    072XX S UNIVERSITY AVE
2       055XX W ARDMORE AVE
3            072XX S MAY ST
4      0000X W JACKSON BLVD
Name: Block, dtype: object

In [23]:
block.iloc[0] = 'Any Value'

In [24]:
block.head()

0                 Any Value
1    072XX S UNIVERSITY AVE
2       055XX W ARDMORE AVE
3            072XX S MAY ST
4      0000X W JACKSON BLVD
Name: Block, dtype: object

In [25]:
dataframe['Block']

0              067XX S MORGAN ST
1         072XX S UNIVERSITY AVE
2            055XX W ARDMORE AVE
3                 072XX S MAY ST
4           0000X W JACKSON BLVD
                   ...
239553      061XX N WINTHROP AVE
239554          018XX S CANAL ST
239555          000XX E 100TH PL
239556       027XX S KEDVALE AVE
239557      116XX S MICHIGAN AVE
Name: Block, Length: 239558, dtype: object