### Select Multiple Columns from a DataFrame
* Use square brackets with a list of names to extract multiple DataFrame columns.
* Pandas stores the result in a new DataFrame (a copy).

In [2]:
import pandas as pd

In [3]:
dataframe = pd.read_csv("Crime Prediction in Chicago_Dataset.csv")

In [5]:
dataframe.columns.values

array(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic',
       'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'], dtype=object)

In [6]:
dataframe[['Block', 'Ward']]

                        Block  Ward
0           067XX S MORGAN ST  16.0
1      072XX S UNIVERSITY AVE   5.0
2         055XX W ARDMORE AVE  39.0
3              072XX S MAY ST  17.0
4        0000X W JACKSON BLVD   4.0
...                       ...   ...
45418      050XX S KEDZIE AVE  14.0
45419       017XX W HOWARD ST  49.0
45420      071XX S HALSTED ST   6.0
45421         025XX W 72ND ST  18.0
45422      081XX S COLFAX AVE   7.0

[45423 rows x 2 columns]

In [9]:
columns_to_select = ['Beat', 'District', 'Ward', 'Community Area']
df = dataframe[columns_to_select]

In [10]:
df

       Beat  District  Ward  Community Area
0       724         7  16.0              68
1       324         3   5.0              69
2      1621        16  39.0              11
3       733         7  17.0              68
4       113         1   4.0              32
...     ...       ...   ...             ...
45418   821         8  14.0              63
45419  2422        24  49.0               1
45420   733         7   6.0              68
45421   832         8  18.0              66
45422   422         4   7.0              46

[45423 rows x 4 columns]

In [11]:
df['Beat'].iloc[0] = 213

C:\Users\dell\AppData\Local\Temp\ipykernel_13584\2707973306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Beat'].iloc[0] = 213

In [14]:
dataframe['Beat']

0         724
1         324
2        1621
3         733
4         113
         ...
45418     821
45419    2422
45420     733
45421     832
45422     422
Name: Beat, Length: 45423, dtype: int64