### Common string methods
* A series has a special **str** attribute that exposes an object with string methods.
* Access the **str** attribute, then invoke the string method on the nested object.
* Most method names will match their Python method equivalents (upper, lower, title e.t.c).

In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv("../Crime Prediction in Chicago_Dataset.csv", index_col="ID").sort_index()

In [3]:
dataframe.head()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
26595,JF130370,02-01-2022 07:15,009XX E 79TH ST,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,624,...,8.0,69,01A,1184039.0,1852826.0,2022,01-01-2024 15:40,41.751331,-87.601155,"(41.751330763, -87.601154923)"
26596,JF130370,02-01-2022 06:54,009XX E 79TH ST,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,624,...,8.0,69,01A,1184039.0,1852826.0,2022,01-01-2024 15:40,41.751331,-87.601155,"(41.751330763, -87.601154923)"
26630,JF154557,2/24/2022 12:05,097XX S HALSTED ST,110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,2223,...,21.0,73,01A,1172697.0,1840207.0,2022,03-02-2024 15:40,41.716960,-87.643088,"(41.716959853, -87.643088472)"
26667,JF183032,3/22/2022 22:29,019XX E 73RD PL,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,333,...,7.0,43,01A,1190632.0,1856624.0,2022,11-11-2023 15:40,41.761596,-87.576873,"(41.761596299, -87.576872789)"
26682,JF193651,04-01-2022 13:49,008XX N LECLAIRE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,1531,...,37.0,25,01A,1142204.0,1905065.0,2022,02-06-2024 15:41,41.895557,-87.753169,"(41.895557198, -87.753168867)"

In [6]:
dataframe['Description'].str.lower()

ID
26595                           first degree murder
26596                           first degree murder
26630                           first degree murder
26667                           first degree murder
26682                           first degree murder
                             ...
13627481        financial identity theft over $ 300
13627576        financial identity theft over $ 300
13627896    financial identity theft $300 and under
13629868                             non-aggravated
13630511    financial identity theft $300 and under
Name: Description, Length: 45423, dtype: object

In [7]:
dataframe['Description'].str.upper()

ID
26595                           FIRST DEGREE MURDER
26596                           FIRST DEGREE MURDER
26630                           FIRST DEGREE MURDER
26667                           FIRST DEGREE MURDER
26682                           FIRST DEGREE MURDER
                             ...
13627481        FINANCIAL IDENTITY THEFT OVER $ 300
13627576        FINANCIAL IDENTITY THEFT OVER $ 300
13627896    FINANCIAL IDENTITY THEFT $300 AND UNDER
13629868                             NON-AGGRAVATED
13630511    FINANCIAL IDENTITY THEFT $300 AND UNDER
Name: Description, Length: 45423, dtype: object

In [8]:
dataframe['Description'].str.title()

ID
26595                           First Degree Murder
26596                           First Degree Murder
26630                           First Degree Murder
26667                           First Degree Murder
26682                           First Degree Murder
                             ...
13627481        Financial Identity Theft Over $ 300
13627576        Financial Identity Theft Over $ 300
13627896    Financial Identity Theft $300 And Under
13629868                             Non-Aggravated
13630511    Financial Identity Theft $300 And Under
Name: Description, Length: 45423, dtype: object

In [9]:
dataframe['Description'].str.len()

ID
26595       19
26596       19
26630       19
26667       19
26682       19
            ..
13627481    35
13627576    35
13627896    39
13629868    14
13630511    39
Name: Description, Length: 45423, dtype: int64

In [10]:
dataframe['Description'].str.title().str.len()

ID
26595       19
26596       19
26630       19
26667       19
26682       19
            ..
13627481    35
13627576    35
13627896    39
13629868    14
13630511    39
Name: Description, Length: 45423, dtype: int64

In [11]:
dataframe['Description'].str.strip()

ID
26595                           FIRST DEGREE MURDER
26596                           FIRST DEGREE MURDER
26630                           FIRST DEGREE MURDER
26667                           FIRST DEGREE MURDER
26682                           FIRST DEGREE MURDER
                             ...
13627481        FINANCIAL IDENTITY THEFT OVER $ 300
13627576        FINANCIAL IDENTITY THEFT OVER $ 300
13627896    FINANCIAL IDENTITY THEFT $300 AND UNDER
13629868                             NON-AGGRAVATED
13630511    FINANCIAL IDENTITY THEFT $300 AND UNDER
Name: Description, Length: 45423, dtype: object